<div class="container-fluid vh-100">
  <div class="row m-3">
    <div class="col-lg-4 col-md-3">
      <form [formGroup]="form" (ngSubmit)="addUser($event)">
        <input formControlName="user" class="m-2 form-control" type="text" placeholder="user">
        <input formControlName="job" class="m-2 form-control" type="text" placeholder="job">
        <button type="submit" class="m-2 btn btn-success">
          Añadir usuario
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="id" type="text" placeholder="Buscar por ID">
      <button type="button" (click)="searchUserId()" class="btn btn-info" >Buscar</button>
    </div>
  </div>
  <div class="row">
    <div class="col m-auto text-center">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>User</th>
            <th>Job</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios">
            <td> {{ item.first_name }} </td>
            <td> {{ item.last_name }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>